main{
    display: flex;
    min-height:502px;
    min-width:950px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.80);
    border: 2px solid #000;
    background-color: #00FFD1;
    padding:48px;
    flex-direction: column;
    
}
.alunoFoto{
    width: 244px;
    height:317px;
}
.navBar{
    width:244px;
    display:flex;
    justify-content: space-between;
}
.fotoAndTextWrapper{
    display:flex;
    flex-direction: row;
    gap:48px;
}
